<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''" >
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">A</button>
    @if(collapsed) {
      <div class="logo-text" @fadeInOut >Angular</div>
      <button class="btn-close" @rotate (click)="closeSidenav()">
        <i class="fal fa-times close-icon"></i>
      </button>
    }
  </div>
  <div class="scrollwrap scrollwrap_delayed">
    <ul class="sidenav-nav">
      @for(data of navData; track data.label) {
        <li class="sidenav-nav-item">
          @if(data.items && data.items.length > 0) {
            <a class="sidenav-nav-link" (click)="handleClick(data)">
              <i class="sidenav-link-icon" [class]="data.icon"></i>
              @if(collapsed) {
                <span class="sidenav-link-text" @fadeInOut>{{data.label}}</span>
              }
              @if(data.items && collapsed) {
                <i class="menu-collapse-icon"
                  [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                ></i>
              }
            </a>
          }
          @if(!data.items || (data.items && data.items.length === 0)) {
            <a href="#" class="sidenav-nav-link"
              [routerLink]="[data.routerLink]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true}"
            >
              <i class="sidenav-link-icon" [class]="data.icon"></i>
              @if(collapsed) {
                <span class="sidenav-link-text" @fadeInOut>{{data.label}}</span>
              }
            </a>
          }
          @if(collapsed && data.items && data.items.length > 0) {
            <div>
              <app-sublevel-menu
                [data]="data"
                [collapsed]="collapsed"
                [multiple]="multiple"
                [expanded]="data.expanded"
              ></app-sublevel-menu>
            </div>
          }
        </li>
      }

    </ul>
  </div>
</div>
